{% extends "layout.html"%}
{% block content %}
<div class="container-fluid bg-warning-subtle text-dark text-center">
    <div class="container">
        <div >
            <div class=" text-center text-success my-2 py-1" >                 
                 Chaque bouchée de cette entrée révèle un subtil équilibre de saveurs, pensée pour débuter le repas avec finesse.<br>
                 {{plat.title}} ( {{plat.description}} ) sont soigneusement préparées avec des ingrédients frais et savoureux.
            </div>            
        </div>
    </div>
</div>
<section class="bg-light">
    <div class="container p-5">
        <div class="row mb-1 ">
        </div>
        <div class="row mb-5 ">
        </div>
        <div class="row">
            {% for recette in recettes.items %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-5 d-flex align-items-stretch">
                <div class="card recette">
                    <img src="{{url_for('static', filename='recette_thumbnails/'+recette.thumbnail)}}" class="card-img">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a class="text-decoration-none text-dark"
                                  href="{{ url_for('recettes.recette', plat=recette.plat_name.title, recette_slug=recette.slug) }}">
                                  {{ recette.title }}
                                     </a>

                        </h5>
                        <span><img class="article-img rounded-circle"
                                src="{{url_for('static', filename='user_pics/'+recette.author.image_file)}}" alt="">par:
                            <a href="{{url_for('users.author', username=recette.author.username)}}"
                                class="link">{{recette.author.username}}</a></span>
                        <span class="text-muted">Le: {{recette.date_posted.strftime('%Y-%m-%d')}}</span>

                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- pagination links -->
            <nav class="mt-5" aria-label="...">
                <ul class="pagination" style="display: flex; justify-content: flex-end">
                    {% for page_num in recettes.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                    {% if recettes.page == page_num %}
                    <li class="page-item active">
                        <a href="{{url_for('plats.plat', plat_title=plat.title, page=page_num)}}" class="page-link">{{page_num}}</a>
                    </li>
                    {%else%}
                    <li class="page-item">
                        <a href="{{url_for('plats.plat', plat_title=plat.title, page=page_num)}}" class="page-link">{{page_num}}</a>
                    </li>
                    {%endif%}
                    {% else %}
                    <span class="mx-2">...</span>
                    {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</section>

{% endblock content%}
