/* Compense la navbar fixe */
body::before {
    display: block;
    content: '';
    height: 60px;
}

/* Style général des cartes */
.card {
    transition: 0.7s ease;
    box-shadow: 0 5px 15px rgba(1, 1, 1, 0.15);
    border-radius: 10px;
    margin: 5px;
    overflow: hidden;
}

/* Animation au survol */
.card:hover {
    transform: scale(1.05);
}

/* Style spécifique des cartes recette */
.card.recette {
    height: 480px !important;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid #ffffff;
    box-shadow: 0 5px 15px rgba(200, 200, 200, 0.15);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
}


/* Corps de la carte */
.card.recette .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

/* Informations auteur + date collées en bas */
.card.recette .auteur-date {
    margin-top: auto;
}

/* Image de profil (ronde et petite) */
.article-img {
    width: 30px !important;
    height: 30px !important;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
}

/* Image utilisateur profil (grande version) */
.user-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* Empêche le soulignement */
.link {
    text-decoration: none;
}

.nobull {
    list-style-type: none;
}

.arabic-sc {
    font-family: 'Rakkas', cursive;
}

/* Sections */
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

/* Fonds personnalisés */
#bgform, #plats {
    width: 80%;
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bgform {
    background-image: url('../static/imgchhiwate.jpg');
}
#plats {
    background-image: url('../static/poulet.jpg');
}

/* Responsive : 3 cartes par ligne sur grand écran */
@media (min-width: 992px) {
    .card-container .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }
}
